@media (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 67rem) {
  .section--title {
    font-size: 3.4rem;
  }

  .hero-title {
    font-size: 3.8rem;
  }

  .meal-types--heading {
    font-size: 2.8rem;
  }

  .testimonials-container {
    padding: 8.8rem 2.2rem 8rem 3.4rem
  }
}

@media (max-width: 57rem) {

  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
  }

  .hero-title {
    font-size: 3.4rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .meals-section {
    padding: 6.6rem 0;
  }

  .meals {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .plan-feature--heading {
    font-size: 1.8rem;
  }

  .cta-text-box {
    padding: 3.8rem;
  }

  .package-card {
    width: 85%;
  }

  .grid--footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 8rem;
  }

  .logo-col {
    grid-row: 2;
  }

  .address-col {
    grid-row: 2;
    grid-column: 2 / -1;
  }
}

@media (max-width: 52rem) {

  .container {
    padding: 2rem;
  }

  .main-header {
    padding: 0 2rem;
    height: 7rem;
    justify-content: space-between;
  }



  .main-nav {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    position: absolute;
    top: 7rem;
    left: 0;
    background-color: #fff;
    height: 45vh;
    transform: translateY(-50rem);
    z-index: -1;
  }

  .nav-open {
    transform: translateY(0);
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 4rem;
  }

  .nav-item-link:link,
  .nav-item-link:visited {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .login-btn:link,
  .login-btn:visited {
    font-size: 2rem;
    font-weight: bold;
  }

  .mobile-nav-btn {
    display: block;
  }
}

@media (max-width: 45rem) {

  .main-logo-img {
    width: 12rem;
  }

  .logo-title {
    font-size: 2rem;
  }



  /* =============
  --- HERO SECTION
  ================ */

  .hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 0 0 4rem 0;
  }

  .hero-text-box {
    padding: 0 2rem;
    text-align: center;
  }

  .hero-title {
    font-size: 3.8rem;
  }

  .hero-description {
    margin-bottom: 3.6rem;
    font-size: 1.8rem;
    line-height: 1.5;
  }

  .btn:link,
  .btn:visited {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }

  /* =============
  --- FEATURED IN SECTION
  ================ */

  .featured-title {
    font-size: 1.5rem;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .logos img {
    height: 2rem;
  }

  /* =============
  --- HOW IT WORKS SECTION
  ================ */

  .how-section {
    padding: 4.2rem 0 9.6rem 0;
  }

  .section--title {
    font-size: 3.2rem;
  }

  .step-number {
    font-size: 7rem;
  }

  .step-title {
    font-size: 2.8rem;
  }

  .how-section div:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }


  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(3.2rem);
  }

  /* =============
--- MEALS SECTION
================ */

  .meals-section div:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .cards {
    gap: 5rem;
    padding: 0 3rem;
  }

  /* =============
--- TESTIMONIALS SECTION
================ */

  .testimonials-section {
    background: var(--primary-light);

    grid-template-columns: 1fr;
    align-items: center;
  }

  .testimonials-section .section--title {
    margin-bottom: 4.8rem;
  }

  .testimonials-container {
    padding: 3rem;
  }

  .testimonials {
    grid-template-columns: 1fr;
    row-gap: 4.4rem;
  }

  .testimonial-photo {
    width: 5.2rem;
  }

  .testimonial-text {
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 1.4rem 0;
  }

  .testimonial-author {
    font-size: 1.4rem;
    color: #6f6f6f;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  /* =============
--- PRICING SECTION
================ */

  .pricing-section {
    padding: 9.6rem 0 4.6rem 0;
  }

  .package-cards {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }

  .package-card {
    padding: 4rem 3rem;
  }

  .package-starter,
  .package-featured {
    justify-self: center;
  }

  .package-featured::after {
    top: 2.5rem;
    right: -7rem;
    font-size: 1.2rem;
  }

  .package-type {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }

  .dollar-symbol {
    font-size: 2rem;
    font-family: 'Merriweather Sans', sans-serif;

  }

  .package-price {
    font-size: 5.8rem;
  }

  .package-description {
    margin-top: .5rem;
    font-size: 1.6rem;
  }

  .package-features {
    margin: 4rem 0;
  }

  .package-feature {
    font-size: 1.6rem;
  }

  .pricing-icon,
  .pricing-icon-close {
    font-size: 2.2rem;
  }

  .plan-features {
    grid-template-columns: 1fr;
    margin-top: 4.8rem;
    gap: 5.4rem;
  }

  .plan-icon {
    font-size: 2.6rem;
    padding: 1.4rem;

  }

  .plan-feature--heading {
    font-size: 2rem;
    margin: 1.6rem 0;
  }

  /* =============
--- CTA SECTION
================ */

  .cta-section {
    padding: 0 0 9.6 0;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    grid-row: 1;
    height: 25rem;
  }

  .cta-text-box {
    padding: 2.8rem;
    color: var(--primary-light);
  }

  .cta-heading {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }

  .cta-description {
    font-size: 1.6rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;

  }

  .cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }

  .cta-form input,
  .cta-form select {
    padding: 1.2rem;
    font-size: 1.4rem;
  }

  /* =============
--- FOOTER SECTION
================ */

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
    row-gap: 4.8rem;
  }

  .footer-logo {
    display: block;
    margin-bottom: 2rem;
  }

  .logo {
    height: 4rem;
    margin-bottom: 0;
  }

  .logo-col {
    grid-column: span 3;
  }


  .address-col {
    grid-column: span 3;
  }

  .footer-heading {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  .contacts {
    font-size: 1.4rem;

  }


  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .footer-nav {
    gap: 1.8rem;
  }

  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.3s;
  }
}